<div class="banner">

  <p id="site_title"> ALT - VR </p>

  <img id="title_img" src="https://cdn.uploadvr.com/wp-content/uploads/2016/05/vr-woman-visor.jpg" alt="modern vr image">
  <%# <img src="http://i0.wp.com/i-docs.org/wp-content/uploads/2015/06/VR11.jpg?fit=900%2C506" alt="vr retro image"> %>

  <p id="about_title">~ Who we are ~</p>
  <div id="about_body">
    <p>
      We are the creators of new planes of existance.
    </p>
    <p>
      We invite you enjoy our creations and to share your own.
    </p>
    <p>
      We are the future.
    </p>
  </div>

</div>
